In [38]:
# fetch the file from the server

import requests
import sys
from pathlib import Path

def fetch_raw_data(url, file_name, repo_dir='../data/raw'):
    response = requests.get(url)

    if response.status_code == 200:
        Path(repo_dir).mkdir(parents=True, exist_ok=True)
        with open(f'{repo_dir}/{file_name}', 'wb') as f:
            f.write(response.content)
        print(f'{file_name} downloaded successfully')
    else:
        raise Exception(f'Status code error: {response.status_code} - File not available!')

def download_yellow_monthly_data(year, month):
    url = f'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_{year}-{month}.parquet'
    file_name = f'yellow_tripdata_{year}-{month}.parquet'
    fetch_raw_data(url, file_name)

def download_green_monthly_data(year, month):
    url = f'https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_{year}-{month}.parquet'
    file_name = f'green_tripdata_{year}-{month}.parquet'
    fetch_raw_data(url, file_name)

def download_fhv_monthly_data(year, month):
    url = f'https://d37ci6vzurychx.cloudfront.net/trip-data/fhv_tripdata_{year}-{month}.parquet'
    file_name = f'fhv_tripdata_{year}-{month}.parquet'
    fetch_raw_data(url, file_name)

def download_fhvhv_monthly_data(year, month):
    url = f'https://d37ci6vzurychx.cloudfront.net/trip-data/fhvhv_tripdata_{year}-{month}.parquet'
    file_name = f'fhvhv_tripdata_{year}-{month}.parquet'
    fetch_raw_data(url, file_name)

def nyc_data_extrator(year, month):
    download_yellow_monthly_data(year, month)
    download_green_monthly_data(year, month)
    download_fhv_monthly_data(year, month)
    download_fhvhv_monthly_data(year, month)

if __name__ == '__main__':
    years = ['2021', '2022', '2023']
    months = ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']

    for year in years:
        for month in months:
            nyc_data_extrator(year, month)

yellow_tripdata_2021-01.parquet downloaded successfully
green_tripdata_2021-01.parquet downloaded successfully
fhv_tripdata_2021-01.parquet downloaded successfully
fhvhv_tripdata_2021-01.parquet downloaded successfully
yellow_tripdata_2021-02.parquet downloaded successfully
green_tripdata_2021-02.parquet downloaded successfully
fhv_tripdata_2021-02.parquet downloaded successfully
fhvhv_tripdata_2021-02.parquet downloaded successfully
yellow_tripdata_2021-03.parquet downloaded successfully
green_tripdata_2021-03.parquet downloaded successfully
fhv_tripdata_2021-03.parquet downloaded successfully
fhvhv_tripdata_2021-03.parquet downloaded successfully
yellow_tripdata_2021-04.parquet downloaded successfully

KeyboardInterrupt:

In [12]:
columns = [
    'VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime', 'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag', 'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra', 'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge', 'total_amount', 'congestion_surcharge'
    ]

important_columns = ['tpep_pickup_datetime', 'PULocationID']

In [40]:
import pandas as pd
params = {'year': '2021', 'month': '01'}

df = pd.read_parquet('../data/raw/yellow_tripdata_{year}-{month}.parquet'.format(**params), columns=columns)

In [42]:
df_green = pd.read_parquet('../data/raw/green_tripdata_{year}-{month}.parquet'.format(**params))

In [43]:
df_green

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2021-01-01 00:15:56,2021-01-01 00:19:52,N,1.0,43,151,1.0,1.01,5.50,0.50,0.5,0.00,0.00,None,0.3,6.80,2.0,1.0,0.00
1,2,2021-01-01 00:25:59,2021-01-01 00:34:44,N,1.0,166,239,1.0,2.53,10.00,0.50,0.5,2.81,0.00,None,0.3,16.86,1.0,1.0,2.75
2,2,2021-01-01 00:45:57,2021-01-01 00:51:55,N,1.0,41,42,1.0,1.12,6.00,0.50,0.5,1.00,0.00,None,0.3,8.30,1.0,1.0,0.00
3,2,2020-12-31 23:57:51,2021-01-01 00:04:56,N,1.0,168,75,1.0,1.99,8.00,0.50,0.5,0.00,0.00,None,0.3,9.30,2.0,1.0,0.00
4,2,2021-01-01 00:16:36,2021-01-01 00:16:40,N,2.0,265,265,3.0,0.00,-52.00,0.00,-0.5,0.00,0.00,None,-0.3,-52.80,3.0,1.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76513,2,2021-01-31 21:38:00,2021-01-31 22:16:00,None,NaN,81,90,NaN,17.63,56.23,2.75,0.0,0.00,6.12,None,0.3,65.40,NaN,NaN,NaN
76514,2,2021-01-31 22:43:00,2021-01-31 23:21:00,None,NaN,35,213,NaN,18.36,46.66,0.00,0.0,12.20,6.12,None,0.3,65.28,NaN,NaN,NaN
76515,2,2021-01-31 22:16:00,2021-01-31 22:27:00,None,NaN,74,69,NaN,2.50,18.95,2.75,0.0,0.00,0.00,None,0.3,22.00,NaN,NaN,NaN
76516,2,2021-01-31 23:10:00,2021-01-31 23:37:00,None,NaN,168,215,NaN,14.48,48.87,2.75,0.0,0.00,6.12,None,0.3,58.04,NaN,NaN,NaN
76517,2,2021-01-31 23:25:00,2021-01-31 23:35:00,None,NaN,119,244,NaN,1.81,15.45,2.75,0.0,0.00,0.00,None,0.3,18.50,NaN,NaN,NaN

In [44]:
df_fhv = pd.read_parquet('../data/raw/fhv_tripdata_{year}-{month}.parquet'.format(**params))

In [45]:
df_fhv

,dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number
0,B00009,2021-01-01 00:27:00,2021-01-01 00:44:00,NaN,NaN,None,B00009
1,B00009,2021-01-01 00:50:00,2021-01-01 01:07:00,NaN,NaN,None,B00009
2,B00013,2021-01-01 00:01:00,2021-01-01 01:51:00,NaN,NaN,None,B00013
3,B00037,2021-01-01 00:13:09,2021-01-01 00:21:26,NaN,72.0,None,B00037
4,B00037,2021-01-01 00:38:31,2021-01-01 00:53:44,NaN,61.0,None,B00037
...,...,...,...,...,...,...,...
1154107,B03266,2021-01-31 23:43:03,2021-01-31 23:51:48,7.0,7.0,None,B03266
1154108,B03284,2021-01-31 23:50:27,2021-02-01 00:48:03,44.0,91.0,None,
1154109,B03285,2021-01-31 23:13:46,2021-01-31 23:29:58,171.0,171.0,None,B03285
1154110,B03285,2021-01-31 23:58:03,2021-02-01 00:17:29,15.0,15.0,None,B03285
1154111,B03321,2021-01-31 23:39:00,2021-02-01 00:15:00,NaN,NaN,None,B03321

In [46]:
df_fhvhv = pd.read_parquet('../data/raw/fhvhv_tripdata_{year}-{month}.parquet'.format(**params))

In [47]:
df_fhvhv

,hvfhs_license_num,dispatching_base_num,originating_base_num,request_datetime,on_scene_datetime,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,trip_miles,...,sales_tax,congestion_surcharge,airport_fee,tips,driver_pay,shared_request_flag,shared_match_flag,access_a_ride_flag,wav_request_flag,wav_match_flag
0,HV0003,B02682,B02682,2021-01-01 00:28:09,2021-01-01 00:31:42,2021-01-01 00:33:44,2021-01-01 00:49:07,230,166,5.26,...,1.98,2.75,NaN,0.00,14.99,N,N,,N,N
1,HV0003,B02682,B02682,2021-01-01 00:45:56,2021-01-01 00:55:19,2021-01-01 00:55:19,2021-01-01 01:18:21,152,167,3.65,...,1.63,0.00,NaN,0.00,17.06,N,N,,N,N
2,HV0003,B02764,B02764,2021-01-01 00:21:15,2021-01-01 00:22:41,2021-01-01 00:23:56,2021-01-01 00:38:05,233,142,3.51,...,1.25,2.75,NaN,0.94,12.98,N,N,,N,N
3,HV0003,B02764,B02764,2021-01-01 00:39:12,2021-01-01 00:42:37,2021-01-01 00:42:51,2021-01-01 00:45:50,142,143,0.74,...,0.70,2.75,NaN,0.00,7.41,N,N,,N,N
4,HV0003,B02764,B02764,2021-01-01 00:46:11,2021-01-01 00:47:17,2021-01-01 00:48:14,2021-01-01 01:08:42,143,78,9.20,...,2.41,2.75,NaN,0.00,22.44,N,N,,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11908463,HV0003,B02765,B02765,2021-01-31 23:13:51,2021-01-31 23:25:03,2021-01-31 23:25:40,2021-01-31 23:40:10,89,71,2.29,...,1.49,0.00,NaN,0.00,12.06,N,N,,N,N
11908464,HV0003,B02872,B02872,2021-01-31 23:23:56,2021-01-31 23:29:03,2021-01-31 23:29:31,2021-01-31 23:47:44,182,167,4.10,...,1.53,0.00,NaN,2.00,13.66,N,N,,N,N
11908465,HV0003,B02872,B02872,2021-01-31 23:42:53,2021-01-31 23:49:23,2021-01-31 23:49:32,2021-02-01 00:04:36,167,169,2.40,...,1.73,0.00,NaN,0.00,15.53,N,N,,N,N
11908466,HV0003,B02764,B02764,2021-01-31 23:04:32,2021-01-31 23:09:13,2021-01-31 23:09:29,2021-01-31 23:27:46,188,37,3.60,...,1.76,0.00,NaN,0.00,17.36,N,N,,N,N
11908467,HV0003,B02764,B02764,2021-01-31 23:22:20,2021-01-31 23:28:33,2021-01-31 23:28:33,2021-01-31 23:56:36,37,4,5.76,...,3.14,2.75,NaN,0.00,21.69,N,N,,N,N

In [11]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2,8.00,3.00,0.5,0.00,0.00,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2,3.00,0.50,0.5,0.00,0.00,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1,42.00,0.50,0.5,8.65,0.00,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1,29.00,0.50,0.5,6.05,0.00,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1,16.50,0.50,0.5,4.06,0.00,0.3,24.36,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1369764,2,2021-01-31 23:03:00,2021-01-31 23:33:00,NaN,8.89,NaN,None,229,181,0,27.78,0.00,0.5,7.46,0.00,0.3,38.54,NaN
1369765,2,2021-01-31 23:29:00,2021-01-31 23:51:00,NaN,7.43,NaN,None,41,70,0,32.58,0.00,0.5,0.00,6.12,0.3,39.50,NaN
1369766,2,2021-01-31 23:25:00,2021-01-31 23:38:00,NaN,6.26,NaN,None,74,137,0,16.85,0.00,0.5,3.90,0.00,0.3,24.05,NaN
1369767,6,2021-01-31 23:01:06,2021-02-01 00:02:03,NaN,19.70,NaN,None,265,188,0,53.68,0.00,0.5,0.00,0.00,0.3,54.48,NaN
1369768,2,2021-01-31 23:08:29,2021-01-31 23:31:22,NaN,4.68,NaN,None,89,61,0,25.45,2.75,0.5,0.00,0.00,0.3,29.00,NaN

In [22]:
important_df = df[important_columns].copy()

In [23]:
important_df['tpep_pickup_datetime']
important_df['tpep_pickup_datetime'] = pd.to_datetime(important_df['tpep_pickup_datetime'])

In [24]:
year = int(params['year'])
month = int(params['month'])

outside_range = important_df[
    (important_df['tpep_pickup_datetime'].dt.year != year) |
    (important_df['tpep_pickup_datetime'].dt.month != month)
]

In [29]:
import pandas as pd

def check_date_range(df, year, month, date_column='tpep_pickup_datetime'):
    """
    Checks if the dates in the specified column are within the given year and month.
    
    Args:
    - df: The pandas DataFrame containing the data.
    - year: The expected year for the data.
    - month: The expected month for the data.
    - date_column: The column name that contains the datetime data (default is 'tpep_pickup_datetime').
    
    Returns:
    - filtered_df: DataFrame containing rows that match the specified year and month.
    - outside_range: DataFrame containing rows outside the specified year and month.
    """
    
    # Convert the date_column to datetime if it's not already in datetime format
    df[date_column] = pd.to_datetime(df[date_column])

    # Find rows where the year and month do not match
    outside_range = df[
        (df[date_column].dt.year != year) | 
        (df[date_column].dt.month != month)
    ]
    
    if not outside_range.empty:
        print(True)  # Found data outside the expected range
        
        # Filter to keep only the rows within the expected year and month
        filtered_df = df[
            (df[date_column].dt.year == year) & 
            (df[date_column].dt.month == month)
        ]
        print(f'{outside_range.shape[0]} rows were outside the specified year-month and have been filtered.')
    else:
        print(False)  # No data outside the expected range
        filtered_df = df  # No filtering needed if all rows match

    return filtered_df

True
24 rows were outside the specified year-month and have been filtered.

In [37]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2,8.00,3.00,0.5,0.00,0.00,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2,3.00,0.50,0.5,0.00,0.00,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1,42.00,0.50,0.5,8.65,0.00,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1,29.00,0.50,0.5,6.05,0.00,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1,16.50,0.50,0.5,4.06,0.00,0.3,24.36,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1369764,2,2021-01-31 23:03:00,2021-01-31 23:33:00,NaN,8.89,NaN,None,229,181,0,27.78,0.00,0.5,7.46,0.00,0.3,38.54,NaN
1369765,2,2021-01-31 23:29:00,2021-01-31 23:51:00,NaN,7.43,NaN,None,41,70,0,32.58,0.00,0.5,0.00,6.12,0.3,39.50,NaN
1369766,2,2021-01-31 23:25:00,2021-01-31 23:38:00,NaN,6.26,NaN,None,74,137,0,16.85,0.00,0.5,3.90,0.00,0.3,24.05,NaN
1369767,6,2021-01-31 23:01:06,2021-02-01 00:02:03,NaN,19.70,NaN,None,265,188,0,53.68,0.00,0.5,0.00,0.00,0.3,54.48,NaN
1369768,2,2021-01-31 23:08:29,2021-01-31 23:31:22,NaN,4.68,NaN,None,89,61,0,25.45,2.75,0.5,0.00,0.00,0.3,29.00,NaN

In [32]:
import os

def save_filtered_data(df, original_name, output_dir='../data/filtered'):
    """
    Saves the filtered DataFrame to a parquet file with a prefix 'filtered_'.
    
    Args:
    - df: The filtered pandas DataFrame.
    - original_name: The original name of the data file (used for constructing the output filename).
    - output_dir: The directory where the filtered file will be saved (default is '../data/filtered').
    
    Returns:
    - None
    """
    # Ensure the output directory exists
    os.makedirs(output_dir, exist_ok=True)
    
    # Construct the new filename by adding the prefix 'filtered_' to the original filename
    filtered_filename = f'filtered_{original_name}.parquet'
    output_path = os.path.join(output_dir, filtered_filename)
    
    # Save the DataFrame to a parquet file
    df.to_parquet(output_path)
    print(f'Filtered data saved to {output_path}')

In [33]:
# Example usage
params = {'year': 2021, 'month': 1}
columns = ['tpep_pickup_datetime', 'PULocationID']


filtered_df = check_date_range(important_df, params['year'], params['month'])
# Save the filtered data
original_filename = f'yellow_tripdata_{params["year"]}-{params["month"]:02d}'
save_filtered_data(filtered_df, original_filename)

True
24 rows were outside the specified year-month and have been filtered.
Filtered data saved to ../data/filtered/filtered_yellow_tripdata_2021-01.parquet

In [52]:
import pandas as pd
import os

def check_date_range(df, year, month, date_column):
    """
    Checks if the dates in the specified column are within the given year and month.
    
    Args:
    - df: The pandas DataFrame containing the data.
    - year: The expected year for the data.
    - month: The expected month for the data.
    - date_column: The column name that contains the datetime data (default is 'pickup_datetime').
    
    Returns:
    - filtered_df: DataFrame containing rows that match the specified year and month.
    """
    
    # Step 1: Rename the datetime column to 'pickup_datetime'
    df = df.rename(columns={date_column: 'pickup_datetime'})

    # Convert the renamed 'pickup_datetime' column to datetime
    df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'])

    # Find rows where the year and month do not match
    outside_range = df[
        (df['pickup_datetime'].dt.year != year) | 
        (df['pickup_datetime'].dt.month != month)
    ]
    
    if not outside_range.empty:
        print(True)  # Found data outside the expected range
        
        # Filter to keep only the rows within the expected year and month
        filtered_df = df[
            (df['pickup_datetime'].dt.year == year) & 
            (df['pickup_datetime'].dt.month == month)
        ]
        print(f'{outside_range.shape[0]} rows were outside the specified year-month and have been filtered.')
    else:
        print(False)  # No data outside the expected range
        filtered_df = df  # No filtering needed if all rows match

    return filtered_df


def data_filter(df):
    """
    Filters important columns, and drops rows with NaN values.
    
    Args:
    - df: The pandas DataFrame.
    
    Returns:
    - Filtered DataFrame with no NaN values in important columns.
    """
    # Step 1: Filter to keep only the important columns ('pickup_datetime' and 'PULocationID')
    df = df[['pickup_datetime', 'PULocationID']]
    
    # Step 2: Drop rows with NaN values in 'pickup_datetime' or 'PULocationID'
    df = df.dropna(subset=['pickup_datetime', 'PULocationID'])
    
    return df


def save_filtered_data(df, original_name, output_dir='../data/filtered'):
    """
    Saves the filtered DataFrame to a parquet file with a prefix 'filtered_'.
    
    Args:
    - df: The filtered pandas DataFrame.
    - original_name: The original name of the data file (used for constructing the output filename).
    - output_dir: The directory where the filtered file will be saved (default is '../data/filtered').
    
    Returns:
    - None
    """
    # Ensure the output directory exists
    os.makedirs(output_dir, exist_ok=True)
    
    # Construct the new filename by adding the prefix 'filtered_' to the original filename
    filtered_filename = f'filtered_{original_name}.parquet'
    output_path = os.path.join(output_dir, filtered_filename)
    
    # Save the DataFrame to a parquet file
    df.to_parquet(output_path)
    print(f'Filtered data saved to {output_path}')


def process_file(filename, input_dir='../data/raw', output_dir='../data/filtered'):
    """
    Processes a single parquet file by filtering data, removing NaN values, and saving the result.
    
    Args:
    - filename: The name of the file to process.
    - input_dir: The directory where the parquet file is located.
    - output_dir: The directory where the filtered parquet file will be saved.
    
    Returns:
    - None
    """
    try:
        # Known patterns and corresponding original date columns
        file_patterns = {
            'yellow_tripdata': 'tpep_pickup_datetime',
            'green_tripdata': 'lpep_pickup_datetime',
            'fhv_tripdata': 'pickup_datetime',   # Processing fhv_tripdata
            'fhvhv_tripdata': 'pickup_datetime'
        }
        
        # Check each pattern
        processed = False
        for pattern, original_date_column in file_patterns.items():
            if filename.startswith(pattern):
                processed = True  # File matched a pattern
                try:
                    # Extract year and month from the filename
                    parts = filename.split('_')
                    file_year, file_month = parts[-1].split('.')[0].split('-')
                    file_year = int(file_year)
                    file_month = int(file_month)

                    # Load the parquet file
                    file_path = os.path.join(input_dir, filename)
                    df = pd.read_parquet(file_path)

                    # Check if the dates are within the expected range
                    df = check_date_range(df, file_year, file_month, original_date_column)
                    
                    # Apply data filtering (filter columns, drop NaN)
                    df = data_filter(df)
                    
                    # Save the filtered DataFrame
                    save_filtered_data(df, filename.replace('.parquet', ''), output_dir)
                
                except Exception as e:
                    print(f"Error processing file {filename}: {e}")
                break

        if not processed:
            print(f"File {filename} did not match any known patterns.")
    
    except FileNotFoundError:
        print(f"File {filename} not found.")
    except Exception as e:
        print(f"Unexpected error processing {filename}: {e}")


def process_all_parquet_files_in_directory(input_dir='../data/raw', output_dir='../data/filtered'):
    """
    Processes all parquet files in the input directory that follow the known patterns.
    
    Args:
    - input_dir: The directory where the raw parquet files are located.
    - output_dir: The directory where the filtered parquet files will be saved.
    
    Returns:
    - None
    """
    for filename in os.listdir(input_dir):
        if filename.endswith('.parquet'):
            try:
                process_file(filename, input_dir, output_dir)
            except Exception as e:
                print(f"Failed to process {filename}: {e}")
                continue  # Ensure the loop continues to the next file

In [53]:
# Test script for processing parquet files

# Directory setup for test (change if needed)
input_directory = '../data/raw'
output_directory = '../data/filtered'

# Assuming you have some .parquet files in the input directory
# Example: 'yellow_tripdata_2021-01.parquet', 'green_tripdata_2021-01.parquet'

def test_parquet_processing():
    print(f"Starting the parquet processing from {input_directory} to {output_directory}...")

    # Call the function to process all files in the directory
    process_all_parquet_files_in_directory(input_dir=input_directory, output_dir=output_directory)

    print(f"Processing complete. Check {output_directory} for the filtered files.")

# Run the test
if __name__ == "__main__":
    test_parquet_processing()

Starting the parquet processing from ../data/raw to ../data/filtered...
True
59 rows were outside the specified year-month and have been filtered.
Filtered data saved to ../data/filtered/filtered_yellow_tripdata_2023-07.parquet
True
526 rows were outside the specified year-month and have been filtered.
Filtered data saved to ../data/filtered/filtered_yellow_tripdata_2021-08.parquet
True
158 rows were outside the specified year-month and have been filtered.
Filtered data saved to ../data/filtered/filtered_yellow_tripdata_2022-04.parquet
True
143 rows were outside the specified year-month and have been filtered.
Filtered data saved to ../data/filtered/filtered_yellow_tripdata_2022-05.parquet
True
53 rows were outside the specified year-month and have been filtered.
Filtered data saved to ../data/filtered/filtered_yellow_tripdata_2023-10.parquet
True
33 rows were outside the specified year-month and have been filtered.
Filtered data saved to ../data/filtered/filtered_yellow_tripdata_2021-03.parquet
True
46 rows were outside the specified year-month and have been filtered.
Filtered data saved to ../data/filtered/filtered_yellow_tripdata_2022-12.parquet
True
31 rows were outside the specified year-month and have been filtered.
Filtered data saved to ../data/filtered/filtered_yellow_tripdata_2021-02.parquet
True
50 rows were outside the specified year-month and have been filtered.
Filtered data saved to ../data/filtered/filtered_yellow_tripdata_2023-05.parquet
True
64 rows were outside the specified year-month and have been filtered.
Filtered data saved to ../data/filtered/filtered_yellow_tripdata_2022-02.parquet
True
3 rows were outside the specified year-month and have been filtered.
Filtered data saved to ../data/filtered/filtered_green_tripdata_2021-01.parquet
True
43 rows were outside the specified year-month and have been filtered.
Filtered data saved to ../data/filtered/filtered_yellow_tripdata_2023-12.parquet
True
94 rows were outside the specified year-month and have been filtered.
Filtered data saved to ../data/filtered/filtered_yellow_tripdata_2021-05.parquet
False
Filtered data saved to ../data/filtered/filtered_fhvhv_tripdata_2021-02.parquet
True
41 rows were outside the specified year-month and have been filtered.
Filtered data saved to ../data/filtered/filtered_yellow_tripdata_2023-06.parquet
False
Error processing file fhv_tripdata_2021-01.parquet: "['PULocationID'] not in index"
False
Filtered data saved to ../data/filtered/filtered_fhvhv_tripdata_2021-01.parquet
True
31 rows were outside the specified year-month and have been filtered.
Filtered data saved to ../data/filtered/filtered_yellow_tripdata_2023-11.parquet
True
24 rows were outside the specified year-month and have been filtered.
Filtered data saved to ../data/filtered/filtered_yellow_tripdata_2021-01.parquet
True
127 rows were outside the specified year-month and have been filtered.
Filtered data saved to ../data/filtered/filtered_yellow_tripdata_2021-11.parquet
True
77 rows were outside the specified year-month and have been filtered.
Filtered data saved to ../data/filtered/filtered_yellow_tripdata_2022-09.parquet
True
42 rows were outside the specified year-month and have been filtered.
Filtered data saved to ../data/filtered/filtered_yellow_tripdata_2021-04.parquet
True
53 rows were outside the specified year-month and have been filtered.
Filtered data saved to ../data/filtered/filtered_yellow_tripdata_2022-08.parquet
True
189 rows were outside the specified year-month and have been filtered.
Filtered data saved to ../data/filtered/filtered_yellow_tripdata_2023-03.parquet
True
48 rows were outside the specified year-month and have been filtered.
Filtered data saved to ../data/filtered/filtered_yellow_tripdata_2023-01.parquet
True
89 rows were outside the specified year-month and have been filtered.
Filtered data saved to ../data/filtered/filtered_yellow_tripdata_2022-03.parquet
True
108 rows were outside the specified year-month and have been filtered.
Filtered data saved to ../data/filtered/filtered_yellow_tripdata_2021-12.parquet
True
123 rows were outside the specified year-month and have been filtered.
Filtered data saved to ../data/filtered/filtered_yellow_tripdata_2021-06.parquet
False
Error processing file fhv_tripdata_2021-02.parquet: "['PULocationID'] not in index"
True
105 rows were outside the specified year-month and have been filtered.
Filtered data saved to ../data/filtered/filtered_yellow_tripdata_2021-09.parquet
True
52 rows were outside the specified year-month and have been filtered.
Filtered data saved to ../data/filtered/filtered_yellow_tripdata_2022-01.parquet
True
95 rows were outside the specified year-month and have been filtered.
Filtered data saved to ../data/filtered/filtered_yellow_tripdata_2023-04.parquet
True
2 rows were outside the specified year-month and have been filtered.
Filtered data saved to ../data/filtered/filtered_green_tripdata_2021-02.parquet
True
34 rows were outside the specified year-month and have been filtered.
Filtered data saved to ../data/filtered/filtered_yellow_tripdata_2023-08.parquet
False
Filtered data saved to ../data/filtered/filtered_fhvhv_tripdata_2021-03.parquet
True
55 rows were outside the specified year-month and have been filtered.
Filtered data saved to ../data/filtered/filtered_yellow_tripdata_2023-02.parquet
False
Error processing file fhv_tripdata_2021-03.parquet: "['PULocationID'] not in index"
True
91 rows were outside the specified year-month and have been filtered.
Filtered data saved to ../data/filtered/filtered_yellow_tripdata_2022-10.parquet
True
32 rows were outside the specified year-month and have been filtered.
Filtered data saved to ../data/filtered/filtered_yellow_tripdata_2023-09.parquet
True
130 rows were outside the specified year-month and have been filtered.
Filtered data saved to ../data/filtered/filtered_yellow_tripdata_2021-07.parquet
False
Filtered data saved to ../data/filtered/filtered_green_tripdata_2021-03.parquet
True
512 rows were outside the specified year-month and have been filtered.
Filtered data saved to ../data/filtered/filtered_yellow_tripdata_2022-06.parquet
True
111 rows were outside the specified year-month and have been filtered.
Filtered data saved to ../data/filtered/filtered_yellow_tripdata_2021-10.parquet
True
82 rows were outside the specified year-month and have been filtered.
Filtered data saved to ../data/filtered/filtered_yellow_tripdata_2022-07.parquet
True
97 rows were outside the specified year-month and have been filtered.
Filtered data saved to ../data/filtered/filtered_yellow_tripdata_2022-11.parquet
Processing complete. Check ../data/filtered for the filtered files.